<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Homedb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Homedb</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let item of this.datalist">   
          <ion-item>
            <ion-label>{{item.fullname}}</ion-label>&nbsp;
            <ion-label>{{item.price}}</ion-label>
            <ion-label>{{item.telno}}</ion-label>
          </ion-item>
      
          <ion-item-options side="end">
            <ion-item-option (click)="updateData(item)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
            <ion-item-option color="danger" (click)="deleteData(item)">
              <ion-icon slot="icon-only" name="trash" ></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
       
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="alert-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list> -->
    <ion-fab-list side="start">
      <ion-fab-button (click)="addData()">
        <ion-icon name="duplicate" ></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  
</ion-content>
